:root {
    font: 20px/1.2 -apple-system, helvetica, sans-serif;
    background-color: rgb(250, 255, 255);
}

body,
body * {
    margin: unset;
    box-sizing: unset;
    padding: unset;
    font-size: unset;
    color: unset;
    text-decoration: unset;
}