h2,
p:not(:last-child) {
    margin-bottom: 2.4rem;
}

h1 {
    font: 700 2rem -apple-system, helvetica, sans-serif;
}

h2 {
    font: 400 1.5rem -apple-system, helvetica, sans-serif;
}

time {
    font: 700 1.0rem -apple-system, helvetica, sans-serif;
}

h3 {
    font: 700 1.0rem -apple-system, helvetica, sans-serif;
}

p {
    font: 400 1.0rem/1.5 -apple-system, helvetica, sans-serif;
}