article {
    display: grid;
    grid-template-columns: 1fr  [start] 1fr [end]  1fr;

    padding: 0.5in 0;
}

article * {
    grid-column: start/end;
}

@media (max-width: 8.5in) {
    article {
        grid-template-columns: 1fr 5% [start] 15% 60% 15% [end] 5% 1fr;
    }
}